Repository sony/flutter-embedded-linux, pull requests merged in 2023-01, with the labels that each got.

#316 Make window title and app ID configurable
  examples/flutter-drm-eglstream-backend/flutter_embedder_options.h
  examples/flutter-drm-eglstream-backend/main.cc
  examples/flutter-drm-gbm-backend/flutter_embedder_options.h
  examples/flutter-drm-gbm-backend/main.cc
  examples/flutter-external-texture-plugin/flutter_embedder_options.h
  examples/flutter-external-texture-plugin/main.cc
  examples/flutter-video-player-plugin/flutter_embedder_options.h
  examples/flutter-video-player-plugin/main.cc
  examples/flutter-wayland-client/flutter_embedder_options.h
  examples/flutter-wayland-client/main.cc
  examples/flutter-x11-client/flutter_embedder_options.h
  examples/flutter-x11-client/main.cc
  src/client_wrapper/flutter_view_controller.cc
  src/client_wrapper/include/flutter/flutter_view_controller.h
  src/flutter/shell/platform/linux_embedded/public/flutter_elinux.h
  src/flutter/shell/platform/linux_embedded/window/elinux_window_wayland.cc
Labels: enhancement, wayland

#319 X11/DRM: fixed crash due to unsupported args reference
  examples/flutter-drm-eglstream-backend/flutter_embedder_options.h
  examples/flutter-drm-gbm-backend/flutter_embedder_options.h
  examples/flutter-external-texture-plugin/flutter_embedder_options.h
  examples/flutter-video-player-plugin/flutter_embedder_options.h
  examples/flutter-wayland-client/flutter_embedder_options.h
  examples/flutter-x11-client/flutter_embedder_options.h
Labels: bug, drm, x11

#320 Add x11 window title support
  examples/flutter-drm-eglstream-backend/flutter_embedder_options.h
  examples/flutter-drm-gbm-backend/flutter_embedder_options.h
  examples/flutter-external-texture-plugin/flutter_embedder_options.h
  examples/flutter-video-player-plugin/flutter_embedder_options.h
  examples/flutter-wayland-client/flutter_embedder_options.h
  examples/flutter-x11-client/flutter_embedder_options.h
  src/flutter/shell/platform/linux_embedded/window/elinux_window_x11.cc
  src/flutter/shell/platform/linux_embedded/window/native_window_x11.cc
  src/flutter/shell/platform/linux_embedded/window/native_window_x11.h
Labels: enhancement, x11
