Repository sony/flutter-embedded-linux, pull requests merged in 2024-05, with the labels that each got.

#415 wayland: text input protocol uses UTF-8 encoding
  AUTHORS
  src/flutter/shell/platform/linux_embedded/window/elinux_window_wayland.cc
Labels: bug, wayland, on-screen keyboard

#416 embedder: merge embedder.h from flutter/engine
  src/flutter/shell/platform/embedder/embedder.h
Labels: engine

#417 Multiple seats
  AUTHORS
  src/flutter/shell/platform/linux_embedded/window/elinux_window_wayland.cc
  src/flutter/shell/platform/linux_embedded/window/elinux_window_wayland.h
Labels: enhancement, wayland

#418 Pointer not being drawn on second vnc connection
  src/flutter/shell/platform/linux_embedded/window/elinux_window_wayland.cc
  src/flutter/shell/platform/linux_embedded/window/elinux_window_wayland.h
Labels: bug, wayland
